@media all and (max-width: 980px) {
    #navigation {
        
    }
    #infocontrainer {

    }

    .hrbox h3 {

    }
}

body {
  background-image: url("https://image.ibb.co/fp5u7H/background.png");
  background-position: center;
  background-color: darkgray;
  margin:0px;
}


.hrbox {
  width: 100%;
  max-width: 200px;
  min-width: 125px;
  height: 100%;
  margin: 1em;
  text-align: center;
  transition: 500ms;
}

.hrbox:hover {
  border-radius: 15px;
  opacity: .5;
  transform: scale(.9);
}

.hrbox:active {
opacity: .2;
border-radius: 25px;
transform: scale(.8);
}

.hrbox h3 {
  top: 50%;
  left: 50%;
  display:block;
  margin:0px;
  line-height:200px;
  letter-spacing: 4pt;
  font-family: 'Roboto', bold;
  font-size: 10pt;
  color: white;
}

#openbutton:hover {
  border-radius: 10px;
  opacity: .5;
}

#closebutton:hover {
  border-radius: 10px;
  opacity: .5;
}

#openbutton {
  background-image:url(https://i.imgur.com/S4hRqh4.jpg);
  margin: 1em;
  width: 15%;
  max-width: 200px;
  min-width: 50px;
  height: 100%;
  display:block;
  font-family: 'Roboto', bold;
  text-align: center;
  font-size: 10pt;
  color: white;
  letter-spacing: 2pt;
  line-height:50px;
  transition:500ms;
  background-color: white;
  transform: translateX(200px);
}

#closebutton {
  background-image:url(https://i.imgur.com/bDpTAnz.jpg);
  margin: 1em;
  width: 100%;
  max-width: 200px;
  min-width: 125px;
  height: 100%;
  display:block;
  font-family: 'Roboto', bold;
  text-align: center;
  font-size: 10pt;
  color: white;
  letter-spacing: 2pt;
  line-height:50px;
  transition:500ms;
  background-color: white;
  transform: translateX(0px);
}

#navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  float: left;
  width: 20vw;
  min-width: 230px;
  transform: translateX(-300px);
  left: 0px;
  top: 0px;
  bottom: 0px;
  transition: 500ms;
  background-color: rgba(0,0,0,.5);
  opacity:.95;
}

#infocontainer {
  left:25vw;
  float: right;
  margin: 1em;
  position: fixed;
  width: 75vw;
  height:680px;
  transform: translateY(-100%);
  transition: ease 500ms;
}

#infophoto {

  background: url("https://i.imgur.com/XMerWpH.jpg");
  background-size:contain;
  background-repeat:no-repeat;
  /* background-color: blue; */
  transform: translateX(100px);
  float: left;
  width: 100%;
  max-width: 480px;
  max-height: 640px;
  height: 100%;
  margin: 0px;
  padding: 0px;

}

#infocopy {
  transform: translateX(500px) translateY(0px);
  position:absolute;
  float: right;
  left:20px;
  display: block;
  width: 100vw;
  height:640px;
  margin-top: 0px;
  padding: 0px;
  background-color: rgba(245,225,164,.3);
}

#infoheader {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  letter-spacing: 1pt;
  color: #141B4D;
  padding: 13px;
  background-color: rgba(255,255,255,.6);
  width: 100%;
  margin: 0px;
}

#infobody {
  /* transform: translateY(-25px); */
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #382F2D;
  max-width: 200px;
  padding: 13px;
  background-color: rgba(255,255,255,.3);
  margin:0px;
}

#hr1 {
background-image: url("https://i.imgur.com/rYu1zUe.jpg");
background-color: lightgray;
}

#hr2 {
  background-image: url("https://i.imgur.com/W0tcGDt.jpg");
  background-color: lightgray;
}

#hr3 {
  background-image: url("https://i.imgur.com/Iag8DdE.jpg");
  background-color: lightgray;
}

#hr4 {
  background-image: url("https://i.imgur.com/6P9QQ4y.jpg");
  background-color: lightgray;
}

#hr5 {
  background-image: url("https://i.imgur.com/EAHuYpc.jpg");
  background-color: lightgray;
}

#hr6 {
  background-image: url("https://i.imgur.com/AJt6Onv.jpg");
  background-color: lightgray;
}

#hr7 {
  background-image: url("https://i.imgur.com/oZMNFHq.jpg");
  background-color: lightgray;
}

#hr8 {
  background-image: url("https://i.imgur.com/d1eX32A.jpg");
  background-color: lightgray;
}

#hr9 {
  background-image: url("https://i.imgur.com/sAC7FlU.jpg");
  background-color: lightgray;
}

#hr10 {
  background-image: url("https://i.imgur.com/l7bw3gW.jpg");
  background-color: lightgray;
}

#hr11 {
  background-image: url("https://i.imgur.com/fFzyDeO.jpg");
  background-color: lightgray;
}

#hr12 {
  background-image: url("https://i.imgur.com/4SQcMVe.jpg");
  background-color: lightgray;
}
